:root {
  --text-color: #626262;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-container {
  display: grid;
  /* border-style: solid; */
  /* border-color: red; */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.banner-title {
  font-size: 2.5em;
  padding: 1em;
}

.banner-subtitle {
  font-size: 1.5em;
}

#active-word {
    color: var(--text-color);
    font-size: 7em;
}

#active-word-romaji {
    color: var(--text-color);
    font-size: 3.5em;
}

#active-word-definition {
    color: var(--text-color);
    font-size: 3em;
}

.active-word-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    row-gap: 50px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  row-gap: 50px;
}

.menu-item {
  color: var(--text-color);
  font-size: 1.5em;
}