:root {
  --text-color: #626262;
  --text-color-light: #b5afa7;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.banner-title {
  font-size: 2.5em;
  padding: 1em;
  color: var(--text-color);

}

.banner-subtitle {
  font-size: 1.5em;
  color: var(--text-color-light);

}

#active-word {
    color: var(--text-color);
    font-size: 7em;
}

#active-word-romaji {
    color: var(--text-color);
    font-size: 3.5em;
}

#active-word-definition {
    color: var(--text-color);
    font-size: 3em;
}

.active-word-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    row-gap: 50px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  row-gap: 50px;
}

.menu-item {
  color: var(--text-color);
  font-size: 1.5em;
  cursor: pointer;
}

.menu-item:hover {
  color: var(--text-color-light);
}

/* The animation code */
@keyframes slide-up {
  from {top: 100vh}
  to {top: 0vh}
}

.kana-menu-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  background-color: white;
  animation-name: slide-up;
  animation-duration: 1.5s;
}

.kana-menu-exit-button {
  font-size: 2.4em;
  width: fit-content;
  margin: auto;
  padding: 1em;
  cursor: pointer;
}

.kana-character-menu-container {
  padding-top: 10em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin: auto;
  gap: 0.5em;
  width: fit-content;
}

.kana-menu-character {
  border-radius: 10px;
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
  width: 46px;
  height: 47px;
  border: 1px solid #414649;
  font-size: 1.4em;
  align-content: center;
  justify-content: center;
  padding-left: 0.5em;
  padding-top: 0.2em;
  cursor: pointer;

  .selected {
    border: 1px solid #e49595;
  }
}

.kana-menu-character:hover {
  background-color: #b2e495;
}

.selected-kana {
  border: 2px solid #b2e495;
}