:root {
  --text-color: #626262;
  --text-color-light: #b5afa7;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* app container */
.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  height: 100%;
}

/* banner */
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.banner-title {
  font-size: 2.5em;
  padding: 0.4em;
  color: var(--text-color);

}

.banner-subtitle {
  font-size: 1.5em;
  color: var(--text-color-light);
  white-space: pre;

}

/* active-word */
#starting-text {
  font-size: 1.75em;
}

#active-word {
    color: var(--text-color);
    font-size: 4em;
}

#active-word-romaji {
    color: var(--text-color);
    font-size: 2em;
}

#active-word-definition {
    color: var(--text-color);
    font-size: 2em;
}

.active-word-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    row-gap: 25px;
}

/* app menu */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  row-gap: 50px;
}

.menu-item {
  color: var(--text-color);
  font-size: 1.5em;
  cursor: pointer;
}

.menu-item:hover {
  color: var(--text-color-light);
}

/* kana menu */
@keyframes slide-up {
  from {opacity: 0}
  to {opacity: 95}
}

.kana-menu-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  background-color: white;
  animation-name: slide-up;
  animation-duration: 1s;

}

.kana-menu-controls-container {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  width: 22.727272vh;
  margin: auto;
  padding-left: 2vh;
}

.kana-menu-exit-button {
  font-size: 2vh;
  cursor: pointer;
  display: flex;
  align-self: start;
}

.kana-menu-alphabet-button {
  font-size: 1vh;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  border: 1px solid #414649;
  border-radius: 0.6em;
  padding: 0.4em;
  padding-left: 1.4em;
  padding-right: 1.4em;

}

.kana-character-menu-container {
  padding-top: 4vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(17, 1fr);
  margin: auto;
  gap: 0.5vh;
  width: fit-content;
}

.kana-menu-romaji-label {
  font-size: 1.4vh;
  align-content: center;
  justify-content: center;
  padding-left: 1vh;
  cursor: pointer;
  color: #c3c3c3;
}

.selected-romaji-label {
  color: #414649;
  font-weight: bold;
}


.kana-menu-romaji-label:hover {
  color: #5b5f62;
  font-weight: bold;
}

.kana-menu-character {
  /* border-radius: 10px;
  border: 1px solid #c3c3c3;
  box-sizing: border-box;
  width: 4vh;
  height: 4vh;
  border: 1px solid #414649;
  font-size: 1.4vh;
  align-content: center;
  justify-content: center;
  padding-left: 1vh;
  cursor: pointer;
  background-color: #333333; */

  width: 4vh;
  height: 4vh;
  font-size: 1.4vh;
  align-content: center;
  justify-content: center;
  padding-left: 1vh;
  cursor: pointer;
  color: #c3c3c3; 
}

.kana-menu-character:hover {
  /* border: 1px solid #414649;
  background-color: #c3c3c3; */
  color: #414649;
  
}

.selected-kana {
  /* border: 1px solid #414649; */
  background-color: #29343b;
  color: #c3c3c3 !important;
  border-radius: 50px;
}
